<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<h1>Booklog</h1>
<h3>글 개별 조회</h3>
    <div>
        <div th:for="postTitle">게시글 제목 : <span th:text="${post_.postTitle}"></span></div>
        <div th:for="postAt">작성일 : <span th:text="${post_.postAt}"></span></div>
        <div th:for="bookTitle">책 제목 : <span th:text="${post_.bookTitle}"></span></div>
        <div th:for="bookWriter">작가 : <span th:text="${post_.bookWriter}"></span></div>
        <div th:for="readStart">읽기 시작한 날 : <span th:text="${post_.readStart}"></span></div>
        <div th:for="readEnd">다 읽은 날 : <span th:text="${post_.readEnd}"></span></div>
        <div th:for="rating">평점 : <span th:text="${post_.rating}"></span></div>
        <div th:for="content">후기 : <span th:text="${post_.content}"></span></div>
    </div>
    <button th:if="${userId == post_.postWriterId}" th:onclick="|location.href='@{/posts/update/{id}(id=${post_.id})}'|" type="button">수정하기</button>
    <button th:onclick="|location.href='@{/home}'|" type="button">목록보기</button>

    <table>
        <tr>
            <td href="#" th:if="${post_.isLike == true}" th:onclick="|javascript:cancel(${post_.id}, ${post_.likeId})|">♥</td>
            <td href="#" th:onclick="|javascript:like(${post_.id})|" th:unless="${post_.isLike == true}">♡</td>
            <td th:text="${post_.likesCnt}" type="text"></td>
            <td th:text="|💬 ${post_.commentsCnt}|" type="text"></td>
        </tr>
    </table>
    <hr/>
    <table border="1" th:if="${!#lists.isEmpty(post_.comments)}">
        <thead>
        <tr>
            <th>#</th>
            <th>닉네임</th>
            <th>댓글</th>
            <th>댓글 단 시간</th>
            <th>메뉴</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${post_.comments}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.nickname}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.commentAt}"></td>
            <td th:if="${userId == comment.userId}" th:onclick="|javascript:deleteComment(${comment.id})|" type="button">삭제</td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/comments}" th:object="${commentForm}">
        <input th:field="*{content}" type="text">
        <input id="postId" name="postId" th:value="${post_.id}" type="hidden">
        <input id="userId" name="userId" th:value="${userId}" type="hidden">
        <button type="submit">댓글달기</button>
    </form>
</body>
</html>
<script>
    function like(postId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/posts/" + postId + "/likes");
        document.body.appendChild(form);

        form.submit();
    }

    function cancel(id, likeId) {
        var form = document.createElement("form");

        form.setAttribute("method", "post");
        form.setAttribute("action", "/posts/" + id + "/likes");

        // set method to delete
        var m = document.createElement('input');
        m.setAttribute("type", "hidden");
        m.setAttribute("name", "_method");
        m.setAttribute("value", "delete");

        // create element (input)
        var input1 = document.createElement('input');
        // set attribute (input)
        input1.setAttribute("type", "hidden")
        input1.setAttribute("name", "likeId")
        input1.setAttribute("value", likeId)

        // append input (to form)
        form.appendChild(m);
        form.appendChild(input1);

        // append form (to body)
        document.body.appendChild(form);

        form.submit();
    }

    function deleteComment(id) {

        var form = document.createElement("form");

        form.setAttribute("method", "post");
        form.setAttribute("action", "/comments/" + id);

        // set method to delete
        var m = document.createElement('input');
        m.setAttribute("type", "hidden");
        m.setAttribute("name", "_method");
        m.setAttribute("value", "delete");

        form.appendChild(m);

        document.body.appendChild(form);

        form.submit();
    }
</script>