<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <h1>Booklog</h1>
    <h3>글 수정하기</h3>
    <div th:text="${post.postTitle}"></div>
    <form method="post" th:action="@{/posts/{id}(id=${post.id})}" th:object="${postForm}">
        <label th:for="postTitle">게시글 제목 : </label>
        <input id="postTitle" name="postTitle" placeholder="게시글 제목을 입력하세요" th:value="${post.postTitle}" type="text"/>
        <label th:for="bookTitle">책 제목 : </label>
        <input id="bookTitle" name="bookTitle" placeholder="책 제목을 입력하세요" th:value="${post.bookTitle}" type="text"/>
        <label th:for="bookWriter">작가 : </label>
        <input id="bookWriter" name="bookWriter" placeholder="작가를 입력하세요" th:value="${post.bookWriter}" type="text"/>
        <label th:for="readStart">읽기 시작한 날 : </label>
        <input id="readStart" name="readStart" th:value="${post.readStart}" type="date"/>
        <label th:for="readEnd">다 읽은 날 : </label>
        <input id="readEnd" name="readEnd" th:value="${post.readEnd}" type="date"/>
        <label th:for="rating">평점 : </label>
        <input id="rating" name="rating" placeholder="평점을 입력하세요" th:value="${post.rating}" type="text"/>
        <label th:for="content">후기 : </label>
        <input id="content" name="content" placeholder="후기를 입력하세요" th:value="${post.content}" type="text"/>
        <input id="postAt" name="postAt" th:value="${post.postAt}" type="hidden">
        <button type="submit">저장하기</button>
        <button th:onclick="|location.href='@{/home}'|" type="button">목록보기</button>
    </form>
    <table>
        <tr>
            <td href="#" th:if="${post.isLike == true}" th:onclick="|javascript:cancel(${post.id}, ${post.likeId})|">♥</td>
            <td href="#" th:onclick="|javascript:like(${post.id})|" th:unless="${post.isLike == true}">♡</td>
            <td th:text="${post.likesCnt}" type="text"></td>
            <td th:text="|💬 ${post.commentsCnt}|" type="text"></td>
        </tr>
    </table>
    <table border="1">
        <thead>
        <tr>
            <th>#</th>
            <th>닉네임</th>
            <th>댓글</th>
            <th>댓글 단 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.nickname}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.commentAt}"></td>
            <td th:onclick="|javascript:deleteComment(${comment.id})|" type="button">삭제</td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/comments}" th:object="${commentForm}">
        <input th:field="*{content}" type="text">
        <input id="postId" name="postId" th:value="${post.id}" type="hidden">
        <button type="submit">댓글달기</button>
    </form>
</body>
<script>
    function like(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/posts/" + id + "/likes");
        document.body.appendChild(form);
        form.submit();
    }

    function cancel(id, likeId) {
        var form = document.createElement("form");

        form.setAttribute("method", "get");
        form.setAttribute("action", "/posts/" + id + "/likes");

        // create element (input)
        var input1 = document.createElement('input');
        // set attribute (input)
        input1.setAttribute("type", "hidden")
        input1.setAttribute("name", "likeId")
        input1.setAttribute("value", likeId)

        // append input (to form)
        form.appendChild(input1);

        // append form (to body)
        document.body.appendChild(form);

        form.submit();
    }
    function deleteComment(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/comments/" + id);
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>